<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>konfiguracija</param-name>
        <param-value>NWTiS.db.config_1.xml</param-value>
    </context-param>
    <filter>
        <filter-name>KontrolaPristupa</filter-name>
        <filter-class>org.foi.nwtis.dvertovs.web.filteri.KontrolaPristupa</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>KontrolaPristupa</filter-name>
        <url-pattern>/privatno/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>org.foi.nwtis.dvertovs.web.slusaci.SlusacAplikacije</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener, HttpSessionAttributeListener</description>
        <listener-class>org.foi.nwtis.dvertovs.web.slusaci.SlusacSesije</listener-class>
    </listener>
    <servlet>
        <servlet-name>Kontroler</servlet-name>
        <servlet-class>org.foi.nwtis.dvertovs.web.Kontroler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Kontroler</servlet-name>
        <url-pattern>/Kontroler</url-pattern>
        <url-pattern>/PrijavaKorisnika</url-pattern>
        <url-pattern>/OdjavaKorisnika</url-pattern>
        <url-pattern>/ProvjeraKorisnika</url-pattern>
        <url-pattern>/IspisPodataka</url-pattern>
        <url-pattern>/IspisAktivnihKorisnika</url-pattern>
        <url-pattern>/IspisKorisnika</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>org.foi.nwtis.dkermek.web.NeuspjesnaPrijava</exception-type>
        <location>/jsp/login.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>admin</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>admin</description>
            <role-name>nwtis</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>admin</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>nwtis</role-name>
    </security-role>
</web-app>
